/* ===========================
   Footer (minimalistický)
   =========================== */

.footer {
  padding-top: clamp(1rem, 3vw, 1.5rem);
  padding-bottom: clamp(1rem, 3vw, 1.5rem);
  border-top: 1px solid $color-border-soft;
  text-align: center;
}

.footer__copy {
  font-family: $bezpatka;
  font-size: 0.9rem;
  color: $color-dark;
  opacity: 0.8;
}
