@import 'variables';
@import 'base';
@import 'homepage';
@import 'header';
@import 'uvodni_hodina';
@import 'koucovani';
@import 'proc_sila_ne';
@import 'o_mne';
@import 'recenze';
@import 'odeslano';
@import 'footer';
