<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>{% if title %}{{ title }} | Síla ne{% else %}Síla ne{% endif %}</title>
        
        
        <!-- Open Graph -->
        <meta property="og:title" content="Síla ne – prostor žít jednodušeji, klidněji a víc podle sebe">
        <meta property="og:description" content="Nepomáhám dělat toho víc — ale míň. Pomáhám lidem zpomalit, nadechnout se a najít prostor pro sebe.">
        <meta property="og:image" content="https://silane.cz/img/og-sila-ne.jpg">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://silane.cz">

        <!-- Twitter Cards -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Síla ne – prostor žít jednodušeji, klidněji a víc podle sebe">
        <meta name="twitter:description" content="Nepomáhám dělat toho víc — ale míň. Pomáhám lidem zpomalit, nadechnout se a najít prostor pro sebe.">
        <meta name="twitter:image" content="/img/og-sila-ne.jpg">



        <link rel="stylesheet" href="/CSS/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    
        <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32.png">
        <link rel="icon" type="image/png" sizes="512x512" href="/img/favicon-512.png">
    
        <link rel="canonical" href="https://silane.cz">

    </head>
    
    <body class="subpage">