 

 
 <header>
    
    
       
        
    <div class="hero">
            <!-- BLOK PRO TEXT V HERO -->
        <div class="hero__text">
            <p class="hero__kicker">
                Jsem koučka, která Vám nepomáhá dělat toho víc, <span class="nowrap">ale míň</span>.
            </p>

            <p class="hero__subtitle">
                To je náročnější než jet dál.
            </p>
        </div>

        <img src="/img/heroPic001.jpg" alt="Karolína a za ní podzimní krajina">
    

    </div>

</header>